body, ul, li, p{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

.principal{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url(./img/principal.jpg);
    background-size: cover;
}

.logo{
    padding: 5px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px;
    backdrop-filter: blur(20px);
    align-items: center;
    position: sticky;
    width: auto;
    top: 0px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #722f37;
    letter-spacing: 2px;
}

.menu > li:nth-child(6){
    background-color: #ff7f00;
    -webkit-border-radius: 10px 20px;
    box-shadow:0 2px 2px #666;
}

.mov{position:relative;top:0;
    transition: all .2s ease-in-out}
.mov:hover{
    font-size:1.1em;
    text-decoration: none;
    -webkit-text-stroke: 2px; 
    transition-timing-function: ease-in-out;
}

    
.caixa_texto_hotel{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #6d6d6d;
padding: 40px;
text-align: center;
}

.descritivo_hotel{
    
}

.carousel {
    width: auto; 
    margin: 16px;
}

.acomodacoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}  

.abas{
    color: #e09f74;
    font-size: 30px;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 446px){
    .menu{
        display: grid;
    }
    .header, .menu{
        justify-content: center;
    }
    .menu li a{
        color: rgb(167, 135, 54);
        text-align: center;
        background-color: #0c0d13;
        -webkit-border-radius: 10px 20px;
        margin-bottom: 5px;
    }
    .menu > li:nth-child(6){
        background-color: rgb(167, 135, 54);
        -webkit-border-radius: 10px 20px;
        color: #0c0d13;
    }
    .acomodacoes{
        display: block;
    }
}

.carousel-caption{
    background-color: rgb(167, 135, 54);
    -webkit-border-radius: 10px 20px;
}

.titulo_acomodacoes{
    margin-bottom: 16px;
    font-size: larger;
    font-weight: bolder;
    margin: 20px;
}