body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{
    text-decoration: none;
}

.principal{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url(./img/principal.jpg);
    background-size: cover;
}

.logo{
    padding: 15px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px;
    backdrop-filter: blur(20px);
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 96%;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.menu > li:nth-child(7){
    background-color: #ff7f00;
    -webkit-border-radius: 10px 20px;
    box-shadow:0 2px 2px #666;
}

.mov{position:relative;top:0;
    transition: all .2s ease-in-out}
.mov:hover{
    font-size:1.2em;
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 2px black; 
    transition-timing-function: ease-in-out;
}

    
.caixa_texto_hotel{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #6d6d6d;
padding: 20px;
}

.descritivo_hotel{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border:  10px solid #6d6d6d;
}